name: detectai
description: "A new Flutter project."
publish_to: 'none' 
version: 1.0.0+1
environment:
  sdk: ^3.9.2
dependencies:
  flutter:
    sdk: flutter 
  cupertino_icons: ^1.0.8
  get: ^4.7.2
  http: ^1.6.0
  chat_bubbles: ^1.7.0
  intl: ^0.20.2
  image_picker: ^1.2.1
  gpt_markdown: ^1.1.4
  google_mlkit_image_labeling: ^0.14.1
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
flutter:
  uses-material-design: true
  assets:
    - assets/
  # fonts:
    # - family: Schyler
      # fonts:
        # - asset: fonts/Schyler-Regular.ttf
  
  
  
  
  
  
  
  
  
  
